sfdc_test2/src/main/mule/secrets-handing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:secrets-manager="http://www.mulesoft.org/schema/mule/secrets-manager" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/secrets-manager http://www.mulesoft.org/schema/mule/secrets-manager/current/mule-secrets-manager.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="put-aws-secret" doc:id="61899f68-5326-4b47-ac77-a6ea88c80304">
        <set-variable value="#[attributes.uriParams.secretName]" doc:name="Set secretName" doc:id="5afd1510-3c93-44b3-9de1-03f69eb81a7e" variableName="secretName" />
		<logger level="INFO" doc:name="Logger" doc:id="49aa1e89-6c57-472a-b2eb-477a5fbe25f1" message="#['Reveived request from retrieving/refreshing secret: ' ++ vars.secretName]" />
		<choice doc:name="Choice" doc:id="948542bf-b13b-46b4-be23-a357b3455f09" >
			<when expression="#[not (p('aws.secrets') contains vars.secretName)]">
				<logger level="INFO" doc:name="Logger" doc:id="8f557df2-1c72-442c-92b2-0f08d31b3c67" message="#[&quot;The requested secret &quot; ++ vars.secretName  ++ &quot; is not in the list of used applications secrets: &quot; ++ p('aws.secrets')]"/>
			</when>
			<otherwise >
				<flow-ref doc:name="retrieve-and-store-secret" doc:id="ae1cf965-0241-4d3d-bd67-4cfcfc626fc8" name="retrieve-and-store-secret" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The secret " ++ vars.secretName ++ " has been refreshed."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="retrieve-and-store-secret" doc:id="ff40ffd4-1b0b-4558-8d3f-74cc3b7dc60d" >
		<logger level="INFO" doc:name="Logger" doc:id="319f645a-e0ee-4ec6-9474-8c5778363dbb" message="#['Retrieving from AWS the secret: ' ++ vars.secretName]" />
		<until-successful maxRetries="${until.successful.connection.retries}" doc:name="Until Successful" doc:id="0564ee4a-452e-459c-91dc-0ae81e946e83" millisBetweenRetries="${until.successful.connection.ms}">
			<secrets-manager:get-secret-value doc:name="Get secret value" doc:id="ba007516-ae3b-47e5-b404-44de7a14806c" keyName="#[vars.secretName]" config-ref="Amazon_Secrets_Manager_Config" />
		</until-successful>
		<until-successful maxRetries="${until.successful.connection.retries}" doc:name="Until Successful" doc:id="42c999b0-ee5e-4c89-83cb-762cf6473152" millisBetweenRetries="${until.successful.connection.ms}">
			<os:store doc:name="Store secret" doc:id="4482ab1e-1809-4b74-937f-c3512b64036c" key="#[vars.secretName]" objectStore="Secret_Object_store"/>
		</until-successful>
		<logger level="INFO" doc:name="Logger" doc:id="95689779-89ae-496d-9257-fa640022ed4a" message="#['Secret stored in cache: ' ++ vars.secretName]" />
	</sub-flow>
	<sub-flow name="get-secret" doc:id="3ab63b1e-8dd2-4617-b1d8-ded7965cf704" >
		<logger level="INFO" doc:name="Logger" doc:id="fdc07d9b-8bea-4ae2-9ef6-63e43ffa043f" message="#['Get secret value for ' ++ vars.secretName]"/>
		<os:retrieve doc:name="Retrieve secret" doc:id="c1b13f62-77a9-4148-8549-6c763a1e113a" key="#[vars.secretName]" objectStore="Secret_Object_store" target="secretValue">
			<os:default-value><![CDATA[#[""]]]></os:default-value>
		</os:retrieve>
		<choice doc:name="Choice" doc:id="ba39793f-452c-4ace-90d1-5ccad68af9dc" >
			<when expression='#[vars.secretValue == ""]'>
				<flow-ref doc:name="retrieve-and-store-secret" doc:id="e17f7909-242f-4f4e-802e-a6bda67519cd" name="retrieve-and-store-secret" target="secretValue"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="c946e611-e8a9-4c47-9161-5265275d488b" message="#['The secret ' ++ vars.secretName ++ ' is found and retrieved from Object Store']"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Fill secretValues" doc:id="96fa3c2e-030e-4c4b-be00-b45425787158" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="secretValues" ><![CDATA[%dw 2.0
output application/json
var new_value = read(vars.secretValue,"application/json")
---
if (vars.secretValues[vars.secretName] != null)
	// replace secret value
	vars.secretValues mapObject (value,key,index) -> {
		(key): if (vars.secretName == key as String) new_value else value
	}
else 
	// add secret value
	(vars.secretValues default {}) ++
	{
		(vars.secretName): new_value
	}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7746e7a1-0e16-43db-a20e-1727b98de5a9" message="#['Secret value succsssfully retrieved for secret ' ++ vars.secretName]"/>
	</sub-flow>
</mule>
