sfdc_test2/target/classes/testsfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:secrets-manager="http://www.mulesoft.org/schema/mule/secrets-manager"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/secrets-manager http://www.mulesoft.org/schema/mule/secrets-manager/current/mule-secrets-manager.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<salesforce:sfdc-config name="Salesforce_Config1" doc:name="Salesforce Config" doc:id="eb4a7876-45ab-4409-b334-ce1e57cb763a" >
		<salesforce:basic-connection username="#[vars.secretValues['${sfdc.secret}']['${sfdc.secret.keys.username}']]" password="#[vars.secretValues['${sfdc.secret}']['${sfdc.secret.keys.password}']]" securityToken="#[vars.secretValues['${sfdc.secret}']['${sfdc.secret.keys.token}']]" url="https://login.salesforce.com/services/Soap/u/46.0"/>
	</salesforce:sfdc-config>
	<secrets-manager:config name="Amazon_Secrets_Manager_Config" doc:name="Amazon Secrets Manager Config" doc:id="cba9e710-c2c1-47f6-8756-1a586040cf2e" accessKey="AKIATAJ4BJUUJGWZ2ZXG" secretKey="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" region="us-east-1" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5a49b4e0-d720-43ce-baa8-4cda5f3cf14a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="6591f060-9213-4c03-bc34-10ea33d1bb99" file="properties.properties" />
	<os:object-store name="Secret_Object_store" doc:name="Object store" doc:id="574e22d0-9b9f-4ca3-9ee8-aac30719fbb4" persistent="false"/>
	<apikit:config outboundHeadersMapName="outboundHeadersMapName" httpStatusVarName="httpStatus" doc:name="Router" doc:id="53591798-afb5-41ff-ba86-7526f4b17aa6" name="Router" api="resource::32699879-1e89-4bd7-a8b8-d906dd5bd9c0:poc-ankurtest-informatf:1.0.1:raml:zip:poc-ankurtest-informatf.raml">
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/accounts" action="get" flow-ref="testsfdcFlow1" />
		</apikit:flow-mappings>
	</apikit:config>
	<flow name="testsfdcFlow1" doc:id="2a46f034-c34d-4680-bf5f-5d2bf9f906a7" >
		<flow-ref doc:name="secrets-common-retrieval-impl" doc:id="10ba0b62-6e8b-4bd9-b94a-b263624fd23e" name="secrets-common-retrieval-impl"/>
		<salesforce:query doc:name="Copy_of_Query" doc:id="b4ba33e9-4241-46d2-8234-f69404b0beca" config-ref="Salesforce_Config1" target="checksfdc" >
			<salesforce:salesforce-query ><![CDATA[SELECT BillingCity,BillingCountry,type,billingState,name FROM Account]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="89b89cde-3db7-4a2b-ae3c-7141153f2038" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="35285b39-7609-40ef-ae85-8585db63a317" message="#[vars.checksfdc]" />
	</flow>
	<sub-flow name="secrets-common-retrieval-impl" doc:id="74a6ce83-165c-4bae-9f83-8c9599ce272d" >
		<set-variable value="${sfdc.secret}" doc:name="Copy_of_Set secretName" doc:id="f08134b4-5d80-4530-95c3-10b8adec519b" variableName="secretName" />
		<flow-ref doc:name="Copy_of_get-secret" doc:id="44096335-835b-4730-a06d-dd7b49ca492f" name="get-secret" />
	</sub-flow>
</mule>
